img.circle.svelte-hrf3rz{border-radius:50%}img.rounded.svelte-hrf3rz{border-radius:.5rem}
section.svelte-incplt{height:100%;width:100%}.container.svelte-incplt{display:grid;gap:4rem;grid-template-rows:repeat(4,fit-content(100%));padding-bottom:3.5rem}.container.projects.svelte-incplt{gap:2rem;grid-template-columns:fit-content(100%)}
