@use 'sass:map';
@use '../utils' as *;

.btn {
  user-select: none;
  font-weight: 500;
  font-size: $size-lg;
  border-radius: $size-2xs;
  transition: all 0.3s ease;

  &:focus {
    outline: none;
  }

  &:disabled {
    opacity: 30%;
    cursor: not-allowed;
  }

  &.fill {
    &.primary {
      color: white;
      background: $color-primary-light;
      border: 1px solid $color-primary-light;
      box-shadow: map.get($shadow-inset, none), map.get($shadow-red, lv3);

      &:active {
        box-shadow: map.get($shadow-inset, full), map.get($shadow-black, none);
      }

      &:disabled {
        box-shadow: none;
      }
    }

    &.secondary {
      color: white;
      background: $color-secondary;
      border: 1px solid $color-secondary;
      box-shadow: map.get($shadow-inset, none), map.get($shadow-blue, lv3);

      &:active {
        box-shadow: map.get($shadow-inset, full), map.get($shadow-black, none);
      }

      &:disabled {
        box-shadow: none;
      }
    }
  }

  &.outline {
    &:active {
      box-shadow: map.get($shadow-inset, full);
    }

    &.primary {
      color: $color-primary;
      background: transparent;
      border: 1px solid $color-primary;

      &:hover:not(&:hover:disabled) {
        color: white;
        background: $color-primary;
      }
    }

    &.secondary {
      color: $color-secondary;
      background: transparent;
      border: 1px solid $color-secondary;

      &:hover:not(&:hover:disabled) {
        color: white;
        background: $color-secondary;
      }
    }
  }

  &.large {
    padding: $size-base;
  }

  &.medium {
    padding: $size-2xs $size-base;
  }

  &.small {
    padding: $size-2xs;
  }
}
