@use '../utils' as *;

.title {
  font-weight: 700;
  font-size: $size-4xl;
  font-family: $opensans;
  text-align: center;
}

@include media(md) {
  .title {
    font-size: $size-5xl;
  }
}

@include media(lg) {
  .title {
    text-align: left;
  }
}

@include media(xl) {
  .title {
    font-size: $size-7xl;
  }
}
