{
    "tabWidth": 4,
    "semi": false,
    "useTabs": false,
    "singleQuote": true,
    "trailingComma": "all",
    "svelteStrictMode": false,
    "svelteBracketNewLine": false,
    "plugins": ["prettier-plugin-svelte"],
    "svelteSortOrder": "options-scripts-markup-styles"
}
