@use 'sass:map';
@import 'src/styles/utils';

.project-card {
    width: 360px;
    display: grid;
    gap: $size-base;
    user-select: none;
    padding: $size-2xl;
    background: white;
    border-radius: $size-2xs;
    box-shadow: 0px 8px 10px #0776C6E6;
    grid-template-rows: repeat(2, fit-content(100%));

    header {
        display: grid;
        gap: $size-2xs;
        font-weight: 700;
        font-size: $size-lg;
        align-items: flex-end;
        grid-template-rows: fit-content(100%);
        grid-template-columns: fit-content(100%) auto;
    }

    p {
        color: map.get($gray, 300);
    }
}