@use 'sass:map';
@import 'src/styles/utils';

.project-card {
    width: 340px;
    display: grid;
    gap: $size-base;
    user-select: none;
    background: white;
    border-radius: $size-2xs;
    padding: $size-2xl $size-xl;
    transition: all 0.2s ease-in-out;
    box-shadow: 0px 8px 10px #0776C6E6;
    grid-template-rows: repeat(2, fit-content(100%));

    &:hover {
        transform: translateY(-10px);
        box-shadow: 0px 16px 16px #0776C6E6;
    }

    header {
        display: grid;
        gap: $size-2xs;
        font-weight: 700;
        font-size: $size-lg;
        align-items: flex-end;
        grid-template-rows: fit-content(100%);
        grid-template-columns: fit-content(100%) auto;
    }

    p {
        color: map.get($gray, 300);
    }
}