@mixin media($media) {
    @if map-has-key($breakpoints, $media) {
        @media screen and (min-width: map-get($breakpoints, $media)) {
            @content;
        }
    }

    @else {
        @error 'The only sizes allowed are: sm, md, lg, xl, 2xl';
    }
}