//** Base styles **//
$base-size: 16px;
$leading: 1.2;
$breakpoints: (
    sm: 576px,
    md: 768px,
    lg: 1024px,
    xl: 1280px,
    2xl: 1440px,
);



//** Colors **//
$white: #FAFAFA;
$gray: (
    100: #D9D9D9,
    200: #909090,
    300: #7B7B7B,
    400: #262626,
);
$black: #1D1D1D;

$color-primary: #EC0B2B;
$color-primary-light: #FF295F;

$color-secondary: #2C9BEB;
$color-secondary-dark: #0776C6;
$color-secondary-light: #37A6F6;

$color-active: #F66C42;
$color-active-light: #FD8E3E;

$color-success: #289038;
$color-success-light: #04AB5B;

$color-info: #4468E7;



//** Fonts **//
$opensans: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
$roboto: 'Roboto', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;



//** Sizes **//
$size-2xs: 0.5rem;      // 8px
$size-xs: 0.75rem;      // 12px
$size-sm: 0.875rem;     // 14px
$size-base: 1rem;       // $base-size
$size-lg: 1.125rem;     // 18px
$size-xl: 1.25rem;      // 20px
$size-2xl: 1.5rem;      // 24px
$size-3xl: 2rem;        // 32px
$size-4xl: 2.5rem;      // 40px
$size-5xl: 3rem;        // 48px
$size-6xl: 3.5rem;      // 56px
$size-7xl: 4rem;        // 64px
$size-8xl: 5rem;        // 80px
$size-9xl: 6rem;        // 96px



//** Z Index **//
$z-0: 0;
$z-10: 10;
$z-20: 20;
$z-30: 30;
$z-40: 40;
$z-50: 50;
$z-100: 100;



//** Shadows **//
$shadow-black: (
    none: 0px 0px 0px rgba(0, 0, 0, 0),
    lv1: 0px 1px 2px rgba(120, 120, 120, 0.15),
    lv2: 0px 4px 6px rgba(120, 120, 120, 0.15),
    lv3: 0px 6px 8px rgba(120, 120, 120, 0.15),
    lv4: 0px 8px 10px rgba(120, 120, 120, 0.15),
    lv5: 0px 14px 12px rgba(120, 120, 120, 0.15),
    lv6: 0px 16px 16px rgba(120, 120, 120, 0.15),
);
$shadow-red: (
    lv1: 0px 1px 4px rgba(210, 34, 34, 0.3),
    lv2: 0px 4px 8px rgba(210, 34, 34, 0.3),
    lv3: 0px 6px 12px rgba(210, 34, 34, 0.3),
    lv4: 0px 8px 16px rgba(210, 34, 34, 0.3),
    lv5: 0px 14px 16px rgba(210, 34, 34, 0.3),
    lv6: 0px 16px 20px rgba(210, 34, 34, 0.3),
);
$shadow-blue: (
    lv1: 0px 1px 4px rgba(44, 155, 235, 0.3),
    lv2: 0px 4px 8px rgba(44, 155, 235, 0.3),
    lv3: 0px 6px 12px rgba(44, 155, 235, 0.3),
    lv4: 0px 8px 16px rgba(44, 155, 235, 0.3),
    lv5: 0px 14px 16px rgba(44, 155, 235, 0.3),
    lv6: 0px 16px 20px rgba(44, 155, 235, 0.3),
);
$shadow-inset: (
    none: inset 0px 0px 0px rgba(0, 0, 0, 0),
    full: inset 0px 8px 3px rgba(29, 29, 29, 0.5),
);