@use 'sass:map';
@import 'src/styles/utils';

.steps {
    width: 100%;
    display: grid;
    gap: $size-xs;
    max-width: 620px;
    justify-items: center;
    grid-template-rows: repeat(2, fit-content(100%));

    .step-numbers {
        width: 100%;
        display: grid;
        gap: $size-xs;
        position: relative;
        text-align: center;
        justify-items: center;
        justify-content: space-around;
        grid-template-rows: fit-content(100%);
        grid-template-columns: 1fr 3fr 1fr;

        hr {
            position: absolute;
            width: 80%;
            top: 50%;
            border: none;
            height: 2px;
            z-index: $z-0;
            background-color: map.get($gray, 100);
        }

        span {
            display: grid;
            place-items: center;
            font-weight: 800;
            width: $size-4xl;
            height: $size-4xl;
            border-radius: 50%;
            font-size: $size-xl;
            background: map.get($gray, 100);
            z-index: $z-10;
        }
    }

    .step-actions {
        width: 100%;
        display: grid;
        gap: $size-xs;
        text-align: center;
        justify-items: center;
        justify-content: space-around;
        grid-template-columns: 1fr 3fr 1fr;

        p {
            color: map.get($gray, 300);
        }
    }
}

@include media(lg) {
    .steps {
        .step-numbers {
            span {
                width: $size-6xl;
                height: $size-6xl;
            }
        }
    }
}