---
import Link from '@/components/Link.astro'
import { DISCORD_LINK, GITHUB_LINK } from '@/shared/constants.js'
---

<footer class="grid bg-black">
  <div class="grid w-full max-w-[1440px] grid-rows-[repeat(3,fit-content(100%))] justify-items-center gap-1 justify-self-center py-6 text-white lg:grid-cols-[repeat(3,1fr)] lg:grid-rows-[fit-content(100%)] lg:items-center lg:py-5">
    <span class="font-bold lg:font-normal">All rights not reserved since 2021</span>
    <span>Fazt Community</span>
    <ul class="mt-3 grid grid-cols-[repeat(2,fit-content(100%))] justify-center gap-6 lg:mt-0 lg:grid-cols-[repeat(2,fit-content(100%))] lg:justify-center lg:gap-6">
      <li>
        <Link external to={DISCORD_LINK} title="Join to Discord">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="#ffffff" d="M31.9999 16C31.9999 7.16343 24.8365 0 16 0C7.16343 0 0 7.16343 0 16C0 24.8365 7.16343 31.9999 16 31.9999C24.8365 31.9999 31.9999 24.8365 31.9999 16Z" />
            <path fill="#272727" d="M21.6429 24.5225L20.3253 22.9582C21.7769 22.6188 23.049 21.7486 23.8914 20.5187C20.6387 23.5841 11.7559 23.7093 8.31493 20.5187C9.14249 21.7354 10.3898 22.604 11.818 22.9582L10.3789 24.5225C9.19751 24.5698 8.02313 24.3196 6.96359 23.7948C5.90405 23.2701 4.9933 22.4876 4.31494 21.5192C4.37069 17.4517 5.35477 13.4506 7.19211 9.82132C8.83523 8.61355 10.7878 7.89774 12.8222 7.75732L13.0105 8.00768C11.0894 8.44207 9.30568 9.34479 7.81799 10.6354C12.0721 7.75826 20.8297 8.00768 24.2697 10.6354C22.7009 9.35987 20.8605 8.46093 18.89 8.00768L19.2024 7.75732C21.2369 7.89774 23.1894 8.61355 24.8326 9.82132C26.6699 13.4506 27.654 17.4517 27.7097 21.5192C27.0311 22.488 26.1199 23.2707 25.0598 23.7955C23.9997 24.3203 22.8248 24.5703 21.6429 24.5225Z" />
            <path fill="#ffffff" d="M12.2355 17.8824C13.2751 17.8824 14.1178 17.0396 14.1178 16C14.1178 14.9604 13.2751 14.1177 12.2355 14.1177C11.1959 14.1177 10.3531 14.9604 10.3531 16C10.3531 17.0396 11.1959 17.8824 12.2355 17.8824Z" />
            <path fill="#ffffff" d="M19.7647 17.8824C20.8043 17.8824 21.647 17.0396 21.647 16C21.647 14.9604 20.8043 14.1177 19.7647 14.1177C18.7251 14.1177 17.8823 14.9604 17.8823 16C17.8823 17.0396 18.7251 17.8824 19.7647 17.8824Z" />
          </svg>
        </Link>
      </li>
      <li>
        <Link external to={GITHUB_LINK} title="Go to Github">
          <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path fill="#fafafa" d="M16 0C11.7034 0.0544583 7.60432 1.81312 4.60413 4.88925C1.60394 7.96539 -0.051716 12.1071 0.00123196 16.4038C-0.0231661 19.8146 1.01806 23.1479 2.97957 25.9384C4.94107 28.7289 7.72495 30.8373 10.9426 31.9692C11.7425 32.121 12.0396 31.6136 12.0396 31.1802C12.0396 30.7889 12.025 29.4972 12.0177 28.1258C7.56636 29.1178 6.62381 26.1904 6.62381 26.1904C6.33582 25.2045 5.70567 24.3536 4.84657 23.7906C3.3948 22.7722 4.95628 22.7932 4.95628 22.7932C5.46676 22.8688 5.95309 23.0605 6.37785 23.3536C6.80261 23.6466 7.15448 24.0332 7.40638 24.4836C7.61518 24.8868 7.90357 25.2435 8.25412 25.5321C8.60467 25.8207 9.0101 26.0353 9.44591 26.1628C9.88171 26.2902 10.3388 26.3281 10.7897 26.2739C11.2405 26.2197 11.6757 26.0747 12.0689 25.8476C12.1384 25.0194 12.4981 24.2424 13.0846 23.6535C9.53101 23.2384 5.79553 21.8324 5.79553 15.5471C5.76955 13.9246 6.35729 12.3521 7.44112 11.1443C6.95229 9.72826 7.00769 8.18103 7.59653 6.80359C7.59653 6.80359 8.94043 6.36294 11.9976 8.48483C14.6176 7.7487 17.3897 7.7487 20.0097 8.48483C23.0632 6.36294 24.4053 6.80359 24.4053 6.80359C24.9955 8.18062 25.0516 9.72815 24.5625 11.1443C25.6474 12.3514 26.2353 13.9244 26.2081 15.5471C26.2081 21.8479 22.4653 23.2348 18.9026 23.6407C19.2858 24.0431 19.5804 24.5213 19.7673 25.0446C19.9543 25.5679 20.0294 26.1245 19.9878 26.6786C19.9878 28.8727 19.9695 30.6399 19.9695 31.1802C19.9695 31.6172 20.2575 32.1283 21.0666 31.9674C24.2823 30.8342 27.0642 28.7255 29.024 25.9355C30.9837 23.1455 32.0237 19.8132 31.9988 16.4038C32.0517 12.1071 30.3961 7.96539 27.3959 4.88925C24.3957 1.81312 20.2966 0.0544583 16 0V0ZM5.993 23.3673C5.96294 23.4099 5.91739 23.439 5.86612 23.4484C5.81486 23.4578 5.76195 23.4468 5.71873 23.4176C5.60263 23.3646 5.53589 23.2531 5.5752 23.1717C5.61451 23.0903 5.73519 23.0647 5.84947 23.1205C5.96374 23.1763 6.03505 23.286 5.993 23.3673ZM6.78014 24.0877C6.70426 24.16 6.55433 24.1261 6.45376 24.0119C6.40482 23.9711 6.3729 23.9135 6.36427 23.8504C6.35564 23.7873 6.37093 23.7233 6.40714 23.6709C6.48576 23.5986 6.63021 23.6325 6.73534 23.7467C6.84048 23.861 6.85785 24.0146 6.78014 24.0877ZM7.32044 25.0093C7.22262 25.0788 7.06172 25.0093 6.96298 24.8676C6.86425 24.7259 6.86516 24.5467 6.96298 24.4763C7.0608 24.4059 7.21988 24.469 7.32044 24.6143C7.36895 24.6685 7.39577 24.7386 7.39577 24.8113C7.39577 24.8841 7.36895 24.9542 7.32044 25.0084V25.0093ZM8.23465 26.0762C8.14323 26.1749 7.96039 26.1484 7.82326 26.0131C7.75886 25.9668 7.71388 25.8983 7.697 25.8208C7.68012 25.7433 7.69253 25.6623 7.73184 25.5935C7.82326 25.4938 8.0061 25.5221 8.14598 25.6565C8.28585 25.7909 8.32699 25.9774 8.22917 26.0752L8.23465 26.0762ZM9.41491 26.4364C9.37651 26.5644 9.19641 26.6192 9.01539 26.5689C8.83438 26.5186 8.71645 26.3623 8.75301 26.2325C8.78958 26.1027 8.97151 26.0423 9.15344 26.1008C9.33537 26.1594 9.45056 26.3047 9.41765 26.4354L9.41491 26.4364ZM10.7579 26.589C10.7579 26.7243 10.6089 26.8368 10.4187 26.8386C10.2286 26.8404 10.0731 26.7335 10.0704 26.6C10.0677 26.4665 10.2203 26.3523 10.4123 26.3486C10.6043 26.3449 10.7561 26.4537 10.7561 26.5881L10.7579 26.589ZM12.0771 26.5369C12.1 26.6686 11.9674 26.8048 11.7791 26.8404C11.5907 26.8761 11.4216 26.7938 11.3978 26.6631C11.3741 26.5324 11.5094 26.3888 11.695 26.3568C11.8805 26.3248 12.0515 26.4025 12.0753 26.5369H12.0771Z" />
          </svg>
        </Link>
      </li>
    </ul>
  </div>
</footer>
