---
const { to: href, title, className, external = false } = Astro.props
---

<a
  {href}
  {title}
  class={className}
  aria-label={title}
  target={external && '_blank'}
  rel={external && 'external noopener noreferrer'}>
  <slot />
</a>

<style lang="postcss">
  .btn {
    @apply block select-none cursor-pointer font-medium text-lg rounded-lg transition-all outline-none ease-in-out duration-[30ms];

    &.fill {
      @apply opacity-100 border border-solid;

      &.primary {
        @apply text-white bg-primary-light border-primary-light shadow-[inset_0px_0px_0px_rgba(0,0,0,0),0px_6px_12px_rgba(210,34,34,0.3)];
      }

      &.secondary {
        @apply text-white bg-secondary border-secondary shadow-[inset_0px_0px_0px_rgba(0,0,0,0),0px_6px_12px_rgba(44,155,235,0.3)];
      }

      &:active {
        box-shadow: inset 0px 8px 3px rgba(29, 29, 29, 0.05), 0px 0px 0px rgba(0, 0, 0, 0);
      }

      &.disabled {
        @apply opacity-30 cursor-not-allowed shadow-none;
      }
    }

    &.outline {
      @apply bg-transparent border border-solid;

      &:active {
        box-shadow: inset 0px 8px 3px rgba(29, 29, 29, 0.05), 0px 0px 0px rgba(0, 0, 0, 0);
      }

      &.primary {
        @apply text-primary border-primary;

        &:hover:not(&:hover.disabled) {
          @apply text-white bg-primary-light;
        }
      }

      &.secondary {
        @apply text-secondary border-secondary;

        &:hover:not(&:hover.disabled) {
          @apply text-white bg-secondary-light;
        }
      }
    }

    &.large {
      @apply p-4;
    }

    &.medium {
      @apply py-2 px-4;
    }

    &.small {
      @apply p-2;
    }
  }
</style>
