<div class="grid w-full grid-rows-[repeat(2,fit-content(100%))] justify-items-center gap-3">
  <div class="relative grid w-full grid-cols-[1fr_3fr_1fr] grid-rows-[fit-content(100%)] justify-around justify-items-center gap-3 text-center lg:gap-16">
    <hr class="absolute top-1/2 z-0 h-[2px] w-4/5 border-none bg-gray-100" />
    <span class="z-10 grid h-10 w-10 place-items-center rounded-full bg-gray-100 text-xl font-extrabold lg:h-14 lg:w-14">1</span>
    <span class="z-10 grid h-10 w-10 place-items-center rounded-full bg-gray-100 text-xl font-extrabold lg:h-14 lg:w-14">2</span>
    <span class="z-10 grid h-10 w-10 place-items-center rounded-full bg-gray-100 text-xl font-extrabold lg:h-14 lg:w-14">3</span>
  </div>
  <div class="grid w-full grid-cols-[1fr_3fr_1fr] justify-around justify-items-center gap-3 text-center text-gray-300 lg:gap-16">
    <p>Únete</p>
    <p>Encuentra un proyecto</p>
    <p>Participa</p>
  </div>
</div>
