<div class="steps w-full grid gap-3 justify-items-center grid-rows-[repeat(2,fit-content(100%))]">
  <div class="step-numbers w-full grid gap-3 relative text-center justify-around justify-items-center grid-rows-[fit-content(100%)] grid-cols-[1fr_3fr_1fr] lg:gap-16">
    <hr class="absolute w-4/5 h-[2px] top-1/2 border-none bg-gray-100 z-0" />
    <span class="w-10 h-10 grid place-items-center rounded-full text-xl font-extrabold bg-gray-100 z-10 lg:w-14 lg:h-14">1</span>
    <span class="w-10 h-10 grid place-items-center rounded-full text-xl font-extrabold bg-gray-100 z-10 lg:w-14 lg:h-14">2</span>
    <span class="w-10 h-10 grid place-items-center rounded-full text-xl font-extrabold bg-gray-100 z-10 lg:w-14 lg:h-14">3</span>
  </div>
  <div class="step-actions w-full grid gap-3 text-center text-gray-300 justify-around justify-items-center grid-cols-[1fr_3fr_1fr] lg:gap-16">
    <p>Únete</p>
    <p>Encuentra un proyecto</p>
    <p>Participa</p>
  </div>
</div>
