---
import Navbar from '@/components/Navbar.astro'
import Footer from '@/components/Footer.astro'

const {
  withoutNavbar = false,
  withoutFooter = false,
  title = 'Fazt Community',
  description = 'Crece como profesional compartiendo tus conocimientos con los demás y participando en proyectos open source'
} = Astro.props
---

<!DOCTYPE html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#EC0B2B" />

    <title>{title}</title>
    <meta name="description" content={description} />

    <link rel="apple-touch-icon" href="favicon.png" />
    <link rel="icon" type="image/png" sizes="64x64" href="favicon.png" />

    <meta name="generator" content={Astro.generator} />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" as="style" />
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap" rel="stylesheet" />

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" as="style" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap" rel="stylesheet" />
  </head>

  <body class="min-h-screen dark:bg-gray-400 dark:text-white">
    { !withoutNavbar && <Navbar /> }

    <slot />

    { !withoutFooter && <Footer /> }
  </body>
</html>
